<%= render 'user', book: @book %>

<h2>Books</h2>

<% if user_signed_in? && @user.id == current_user.id %>
    <% @books_current.each do |book|%>

      <div>
        <%= link_to image_tag current_user.get_profile_image(80,80) %>

        <span><%= link_to book.title, book_path(book.id) %></span>
        <span><%= book.body %></span>
      </div>
    <% end %>
<% else %>
  <%# if @user.id == @Books %>

    <% @books_other.each do |book|%>

      <div>
        <%#= image_tag .get_profile_image(80,80) %>

        <span><%= link_to book.title, book_path(book.id) %></span>
        <span><%= book.body %></span>
      </div>
    <% end %>
  <%# end %>
<% end %>