<div class="container">
  <div class="row d-flex">
    <div class="col">
      <%= render 'user', book: @book %>
    </div>
    <div class="col ml-5">
      <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% if @user.id == current_user.id %>
              <% @books_current.each do |book|%>
                <tr>
                  <td><%= link_to image_tag current_user.get_profile_image(80,80) %></td>
                  <td><%= link_to book.title, book_path(book.id) %></td>
                  <td><%= book.body %></td>
              <% end %>
                </tr>
            <% else %>
              <% @books_other.each do |book|%>
                <tr>
                 <td><%= link_to image_tag book.user.profile_image, size: "80x80" %></td>
                 <td><%= link_to book.title, book_path(book.id) %></td>
                 <td><%= book.body %></td>
               </tr>
              <% end %>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

