<h2>User info</h2>


<p><%= image_tag current_user.get_profile_image(100,100) %></p>

</br>

<div>
<span>name</span>
<span><%= current_user.name %></span>
</div>
<div>
<span>introduction</span>
<span><%= current_user.introduction %></span>
</div>

<div><%= link_to "ユーザ情報編集（仮）", edit_user_path(current_user.id) %></div>


<h2>New book</h2>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>


<h2>Books</h2>

<div>
<span>Title</span>
<span>Opinion</span>
<span></span>
</div>

<% @books.each do |book| %>
<div>
  <span><%= image_tag current_user.profile_image, size: "80x80" %></span>
  <span><%= link_to book.title, book_path(book.id) %></span>
  <span><%= book.body %></span>
</div>
<% end %>