<%= render 'users/user', book: @book %>


<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to image_tag(current_user.profile_image, size: "80x80"), user_path(current_user.id) %>
    <%= link_to User.name, user_path(current_user) %>
    <span><%= link_to @book.title, book_path %></span>
    <span><%= @book.body %></span>
    <span><%= link_to "Edit", edit_book_path, class:"btn btn-success" %></span>
    <span><%= link_to "Destroy", book_path(@book), class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></span>
  <% else %>
    <%#= link_to image_tag(XXXXX.profile_image, size: "80x80"), user_path(XXXXX) %>
    <span><%= link_to @book.title, book_path %></span>
    <span><%= @book.body %></span>
  <% end %>

<% end %>