<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

　　<script src="https://kit.fontawesome.com/a02775ddad.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column">
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand mr-3 py-1" href="/">
            <span>Bookers</span>
          </a>
          <ul class="nav navbar-dark bg-dark d-flex ml-auto" style="list-style: none;">
            <% if user_signed_in? %>
              <li Class="nav-item p-2">
                <%= link_to user_path(current_user.id) do %>
                  <i class="fa-solid fa-house-chimney text-light"></i>
                  <span class="text-light">Home</span>
                <% end %>
              </li>
              <li Class="nav-item p-2">
                <%= link_to  users_path do %>
                  <i class="fa-solid fa-users text-light"></i>
                  <span class="text-light">Users</span>
                <% end %>
              </li>
              <li Class="nav-item p-2">
                <%= link_to books_path do %>
                  <i class="fa-solid fa-book-open text-light"></i>
                  <span class="text-light">Books</span>
                <% end %>
              </li>
              <li Class="nav-item p-2">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket text-light"></i>
                  <span class="text-light">Log out</span>
                <% end %>
              </li>
            <% else %>
              <li Class="nav-item p-2">
                <%= link_to root_path do %>
                  <i class="fa-solid fa-house-chimney text-light"></i>
                  <span class="text-light">Home</span>
                <% end %>
              </li>
              <li Class="nav-item p-2">
                <%= link_to about_path do %>
                  <i class="fa-solid fa-link text-light"></i>
                  <span class="text-light">About</span>
                <% end %>
              </li>
              <li Class="nav-item p-2">
                <%= link_to new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus text-light"></i>
                  <span class="text-light">sign_up</span>
                <% end %>
              </li>
              <li Class="nav-item p-2">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-right-to-bracket text-light"></i>
                  <span class="text-light">Log_in</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </nav>
    <main class="mx-auto">
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
